<!DOCTYPE html>
<html class="loading" data-textdirection="ltr" lang="en">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, user-scalable=0" name="viewport">
    <meta content="PIXINVENT" name="author">
    <title>ConquerAmz</title>
    <link href="../app-assets/images/ico/apple-icon-120.png" rel="apple-touch-icon">
    <link href="../app-assets/images/ico/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700"
          rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link href="../app-assets/vendors/css/vendors.min.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/vendors/css/charts/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/vendors/css/extensions/swiper.min.css" rel="stylesheet" type="text/css">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link href="../app-assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/css/bootstrap-extended.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/css/colors.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/css/themes/dark-layout.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/css/themes/semi-dark-layout.css" rel="stylesheet" type="text/css">
    <!-- END: Theme CSS-->

    <!-- BEGIN: Page CSS-->
    <link href="../app-assets/css/core/menu/menu-types/vertical-menu.css" rel="stylesheet" type="text/css">
    <link href="../app-assets/css/pages/dashboard-ecommerce.css" rel="stylesheet" type="text/css">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- END: Custom CSS-->

</head>

<body class="vertical-layout vertical-menu-modern dark-layout 2-columns  navbar-sticky footer-static  "
      data-col="2-columns" data-layout="dark-layout" data-menu="vertical-menu-modern" data-open="click">

<!-- BEGIN: Header-->
<!--<div class="header-navbar-shadow"></div>-->
<!--<nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top navbar-dark">-->
<!--    <div class="navbar-wrapper">-->
<!--        <div class="navbar-container content">-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!-- END: Header-->


<!-- BEGIN: Main Menu-->
<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="html/ltr/vertical-menu-template-dark/index.html">

                <h2 class="brand-text mb-0">ConquerAmz</h2>
            </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                    class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i
                    class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a>
            </li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" data-icon-style="lines" data-menu="menu-navigation"
            id="main-menu-navigation">

            <!--            <li class=" navigation-header text-truncate"><span data-i18n="Apps">Menu</span>-->
            </li>
            <li class=" nav-item"><a href="app-email.html"><i class="menu-livicon" data-icon="grid"></i><span
                    class="menu-title text-truncate" data-i18n="Email">Inventory</span></a>
            </li>
            <li class=" nav-item"><a href="app-chat.html"><i class="menu-livicon" data-icon="shoppingcart"></i><span
                    class="menu-title text-truncate" data-i18n="Chat">Orders</span></a>
            </li>

        </ul>
    </div>
</div>
<!-- END: Main Menu-->

<!-- BEGIN: Content-->
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        {{{body}}}
    </div>
</div>
<!-- END: Content-->




<div class="sidenav-overlay"></div>
<div class="drag-target"></div>
<!-- BEGIN: Footer-->
<footer class="footer footer-static footer-dark">
    <p class="clearfix mb-0"><span class="float-left d-inline-block">2021 &copy; CONQUERAMZ</span><span
            class="float-right d-sm-inline-block d-none">Crafted with<i
            class="bx bxs-heart pink mx-50 font-small-3"></i>by<a class="text-uppercase"
                                                                  href="https://1.envato.market/pixinvent_portfolio"
                                                                  target="_blank">Someone</a></span>
<!--        <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>-->
    </p>

</footer>
<!-- END: Footer-->


<!-- BEGIN: Vendor JS-->
<script src="../app-assets/vendors/js/vendors.min.js"></script>
<script src="../app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
<script src="../app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
<script src="../app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
<!-- BEGIN Vendor JS-->

<!-- BEGIN: Page Vendor JS-->
<script src="../app-assets/vendors/js/charts/apexcharts.min.js"></script>
<script src="../app-assets/vendors/js/extensions/swiper.min.js"></script>
<!-- END: Page Vendor JS-->

<!-- BEGIN: Theme JS-->
<script src="../app-assets/js/scripts/configs/vertical-menu-dark.js"></script>
<script src="../app-assets/js/core/app-menu.js"></script>
<script src="../app-assets/js/core/app.js"></script>
<script src="../app-assets/js/scripts/components.js"></script>
<script src="../app-assets/js/scripts/footer.js"></script>
<!-- END: Theme JS-->

<!-- BEGIN: Page JS-->
<script src="../app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
<!-- END: Page JS-->

</body>

</html>
