<section id="table-success">
    <div class="card">
        <div class="table-responsive">
            <div class="dataTables_wrapper no-footer" id="table-extended-success_wrapper">
                <table class="table mb-0 dataTable no-footer" id="table-extended-success" role="grid">
                    <thead>
                    <tr role="row">
                        <th aria-label="account details" class="sorting_disabled" colspan="1" rowspan="1"
                            style="width: 10%;">ASIN
                        </th>
                        <th
                            aria-label="title"
                            class="sorting_disabled"
                            colspan="1" rowspan="1"
                            style="width: 80%;" tabindex="0">Title
                        </th>

                        <th aria-label="Price" class="sorting_disabled" colspan="1" rowspan="1"
                            style="width: 10%;">Price
                        </th>
                    </tr>
                    </thead>
                    <tbody id="products">
                    {{#each products}}
                        <tr>
                            <td>{{this.asin1}}</td>
                            <td>{{this.item-name}}</td>
                            <td>{{#if this.sales-price}}{{this.sales-price}}{{else}}N/A{{/if}}</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
